<div class="cover  d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
  <h1>Save any kind of movies</h1>
  </div>
</div>


<div class="container">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3>My Lists</h3>
    <%= link_to "create movie list", new_list_path, class: 'btn-flat text-decoration-none' %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 colsm-6 col-md-4">
        <%= link_to list_path(list), class:'text-decoration-none' do %>
          <% if list.photo.attached? %>
            <div class="card-category" style="background-image: url('<%= cl_image_path list.photo.key, height: 200, width: 400, crop: :thumb %>')">
              <%= list.name %>
          <% end %>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
