<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" >
      <%= image_tag "popcorn.png"%>
  </a>

  <div>
      <%= link_to "Create a new list", new_list_path, class: "nav-link " %>
  </div>
</div>
